<% layout('layout') -%>
    <form style="padding-top: 10px;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sno">学号：</label>
                    <input type="text" class="form-control" id="sno" placeholder="请输入学号">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="name">姓名：</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入姓名">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sex">性别：</label>
                    <select class="form-control" id="sex">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="birthday">生日：</label>
                    <input type="date" class="form-control" id="birthday" placeholder="请输入生日">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="card">身份证号：</label>
                    <input type="text" class="form-control" id="card" placeholder="请输入身份证号">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="majorId">所学专业：</label>
                    <select class="form-control" id="majorId">
                        <option value="-1" selected>请选择...</option>
                        <% for(var i = 0; i < majors.length; i++) { %>
                            <option value="<%= majors[i].id %>">
                                <%= majors[i].name %>
                            </option>
                            <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="classId">所属班级：</label>
                    <select class="form-control" id="classId">
                        <option value="-1" selected>请选择...</option>
                        <% for(var i = 0; i < classes.length; i++) { %>
                            <option value="<%= classes[i].id %>">
                                <%= classes[i].name %>
                            </option>
                            <% } %>
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="departId">所属院系：</label>
                    <select class="form-control" id="departId">
                        <option value="-1" selected>请选择...</option>
                        <% for(var i = 0; i < departs.length; i++) { %>
                            <option value="<%= departs[i].id %>">
                                <%= departs[i].name %>
                            </option>
                            <% } %>
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="nativePlace">籍贯：</label>
                    <input type="text" class="form-control" id="nativePlace" placeholder="请输入籍贯">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="address">家庭地址：</label>
                    <input type="text" class="form-control" id="address" placeholder="请输入家庭地址">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="qq">QQ：</label>
                    <input type="text" class="form-control" id="qq" placeholder="请输入QQ">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="phone">手机：</label>
                    <input type="text" class="form-control" id="phone" placeholder="请输入手机">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="email">邮箱：</label>
                    <input type="email" class="form-control" id="email" placeholder="请输入邮箱">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" id="btnSave" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    保存
                </button>
            </div>
        </div>
    </form>

    <% block('footer').append('<script src="/javascripts/stu-add.js"></script>') -%>